# Scala specific
*.class
*.log
*.cache
*.idea
*.iml
*.iws


# SBT specific
target/
lib_managed/
src_managed/
project/target/
project/project/

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr
.bsp/
.metals/
out/

# MacOS specific
.DS_Store